.app {
  text-align: center;
}

div {
  margin: 3pt;
}

label {
  margin: 3pt;
}
button {
  margin: 3pt;
}
.gen-button {
  font-size: 200%;
}
.text {
  margin: 0 auto;
  width: fit-content;
}
.itemize {
  margin: 0 auto;
  width: fit-content;
  text-align: start;
}

