.app {
  text-align: center;
}

div {
  margin: 3pt;
}

label {
  margin: 3pt;
}
button {
  margin: 3pt;
}
.gen-button {
  padding: 10pt 30pt;
}
.text {
  margin: 0 auto;
  width: fit-content;
}
.text ul {
  margin: 0 auto;
  width: fit-content;
}
.text li {
  text-align: start;
}

